header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 2rem;
}
ul{
    list-style-type: none;
    display: flex;

}
li{
    margin-right: 4rem;
}
.heading-of-all{
    display: flex;
    align-items: center
}
body{
    background-color: rgb(160, 160, 242);
}
.logo{
    max-width: 5rem;
}
.heading-of-all-name{
    margin-left: 10rem;
}
.para-first, .para-second{
    margin-bottom: 3rem;
}
.image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    grid-auto-rows: 400px;
      
}
.image-gallery img{
    height: 400px;

    object-fit: cover;
}
.project-pic, .sticky-notes, .team-work{
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .image-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 430px) {
    .image-gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}